
body {
  font-family: Arial, sans-serif;
  background-color: #000c1ac9;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#root {
  max-width: 600px;
  padding: 20px;
  background-color: #eeecec94;
  border-radius: 8px;
  box-shadow: 10px 15px 10px rgba(110, 64, 64, 0.623);
  text-align: center;
}


h2 {
  color: #7cbde9;
}

p {
  margin: 10px 0;
  font-size: x-large;
  font-weight: bold;
  padding: 10px;
  color: #020000;
}
